<link rel="stylesheet" href="/css/home.css">

<h3>Codial | Home Page</h3>
<div id="home-container">


<section id="feed-post">
    <h4>Posts</h4>
    <% if(locals.user){%>
    <form action="/post/create" method="post" id="new-post-form">
        <textarea name="content" id="new-post" cols="50" rows="8" placeholder="write your post"></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>
    <!-- creating an section for posts -->
<section id="Post-List">
    <div id="post-list-container">
        <ul>
        <% for(post of posts){%>
        
            <%-include('_post')-%>

        <%}%>
        
        </ul>
    </div>
</section>

</section>

<section id="users-list">
    <h4>Friends</h4>
    <%for(u of all_users){%>
        <p>
            <i class="fa-solid fa-user-group fa-lg"></i>
            <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
        </p>
        <%}%>
        
</section>
</div>