<h1>Welcome To Home Page</h1>

<section id="feed-post">
    <h4>Posts</h4>

    <form action="/post/create" method="post" id="new-post-form">
        <textarea name="content" id="new-post" cols="50" rows="8" placeholder="write your post"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<!-- creating an section for posts -->
<section id="Post-List">
    <div id="post-list-container">
        <ul>
            <% for(post of posts){%>
                <li>
                    <%= post.content%>
                    <br>
                    <small>
                     <%=post.user.name%>
                     <!-- <%=post.user.email%>
                     <%=post.user.password%> -->
                    </small>
                </li>
                <%}%>
        </ul>
    </div>
</section>

