<form action="/users/create-seassion" method="post">

    <input type="email" name="email" placeholder="enter email">

    <input type="password" name="password" placeholder="enter password">

    <input type="submit" value="Sing In">

</form>