<form action="/users/create" method="post">

    <input type="text" name="name" id="" placeholder="enter name">

    <input type="email" name="email" placeholder="enter email">

    <input type="password" name="password" placeholder="enter password">

    <input type="password" name="confirm_password" placeholder="confirm password">

    <input type="submit" value="Sing up">

</form>